@model GroceryStoreAPI.Models.Customer

<h2>Register New Customer</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success">Save Customer</button>
            <a asp-action="Index" class="btn btn-link">Back to List</a>
        </form>
    </div>
</div>